# Ignore everything.
*

# Allow specific files and folders.
!.gitignore

!README.md
!LICENSE-MIT
!LICENSE-APACHE

!Kconfig

!revm/
!revm/**

!stub/
!stub/**

!target-specifications/
!target-specifications/**
